body {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

#app {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr 3fr;
    height: 100vh;
    color: rgb(88, 88, 88);
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.entry {
    background: rgba(59, 74, 107, .4);
}

#entryHolder {
    color: white;
}

.headline {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 1em;
}

input {
    height: 60px;
    width: 320px;
    background: #22b2da63;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border: 2px white dotted;
    border-radius: 15px;
}

button {
    width: 200px;
    height: 50px;
    background: #e4e43f;
    color: rgb(88, 88, 88);
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

textarea {
    background: #22b2da63;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border: 2px white dotted;
    border-radius: 15px;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}